In [1]:
import pandas as pd
import os
# load the CSV datafiles into Pandas dataframes
# list dirs
csvs = [x for x in os.listdir("G:\\project_dir\\migration-to-tablueau\\data-analytics-files\\")]
# give file names
fnames = ["df_"+os.path.splitext(os.path.basename(csv))[0] for csv in csvs]
# make a df_dict
df_dict = {}
# load each file from the directory as df into the values for each corresponding fname keys
for i in range(len(fnames)):
    df_dict[fnames[i]] = pd.read_csv("G:\\project_dir\\migration-to-tablueau\\data-analytics-files\\" + csvs[i])

In [2]:
# list empty columns
for key in df_dict.keys():
    print("Empty columns in " + key + " are")
    print(df_dict[key].columns[df_dict[key].isna().all()])

Empty columns in df_1987 are
Index(['TailNum', 'AirTime', 'TaxiIn', 'TaxiOut', 'CancellationCode',
       'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay',
       'LateAircraftDelay'],
      dtype='object')
Empty columns in df_1989 are
Index(['TailNum', 'AirTime', 'TaxiIn', 'TaxiOut', 'CancellationCode',
       'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay',
       'LateAircraftDelay'],
      dtype='object')
Empty columns in df_1990 are
Index(['TailNum', 'AirTime', 'TaxiIn', 'TaxiOut', 'CancellationCode',
       'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay',
       'LateAircraftDelay'],
      dtype='object')
Empty columns in df_1991 are
Index(['TailNum', 'AirTime', 'TaxiIn', 'TaxiOut', 'CancellationCode',
       'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay',
       'LateAircraftDelay'],
      dtype='object')
Empty columns in df_1992 are
Index(['TailNum', 'AirTime', 'TaxiIn', 'TaxiOut', 'CancellationCode',
       'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay',
       'LateAircraftDelay'],
      dtype='object')
Empty columns in df_1993 are
Index(['TailNum', 'AirTime', 'TaxiIn', 'TaxiOut', 'CancellationCode',
       'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay',
       'LateAircraftDelay'],
      dtype='object')
Empty columns in df_1994 are
Index(['TailNum', 'AirTime', 'TaxiIn', 'TaxiOut', 'CancellationCode',
       'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay',
       'LateAircraftDelay'],
      dtype='object')
Empty columns in df_1995 are
Index(['CancellationCode', 'CarrierDelay', 'WeatherDelay', 'NASDelay',
       'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')
Empty columns in df_1996 are
Index(['CancellationCode', 'CarrierDelay', 'WeatherDelay', 'NASDelay',
       'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [ ]:
# print the number of records that contain NULL values in any of their columns using Panda's isnull() and isna() functions.
for key in df_dict.keys():
    num_of_null_record = df_dict[key].isnull().any(axis=1).sum()
    print("Number of null records in " + key + " is: " + str(num_of_null_record))

In [3]:
# dropping columns and putting the dfs into a list
df_ls = []
removal_cols = ['TailNum', 'AirTime', 'TaxiIn', 'TaxiOut', 'CancellationCode',
       'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay',
       'LateAircraftDelay']
for key in df_dict.keys():
    df_dict[key] = df_dict[key].drop(removal_cols, axis=1)
for key in df_dict.keys():    
    df_dict[key] = df_dict[key].fillna(int(0))
for key in df_dict.keys():
    df_ls.append(df_dict[key])

In [4]:

# integrate all of the dataframes together into one master dataframe.
master_df = pd.concat(df_ls, ignore_index=True)

In [5]:
master_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42722968 entries, 0 to 42722967
Data columns (total 19 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            float64
 5   CRSDepTime         int64
 6   ArrTime            float64
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  ActualElapsedTime  float64
 11  CRSElapsedTime     float64
 12  ArrDelay           float64
 13  DepDelay           float64
 14  Origin             object
 15  Dest               object
 16  Distance           float64
 17  Cancelled          int64
 18  Diverted           int64
dtypes: float64(7), int64(9), object(3)
memory usage: 6.0+ GB

In [7]:
# converting types for making a master df

master_df['Year'] = master_df['Year'].astype('int16')
master_df['Month'] = master_df['Month'].astype('int8')
master_df['DayofMonth'] = master_df['DayofMonth'].astype('int8')
master_df['DayOfWeek'] = master_df['DayOfWeek'].astype('int8')

In [8]:
master_df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,CRSElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,Diverted
0,1987,10,14,3,741.0,730,912.0,849,PS,1451,91.0,79.0,23.0,11.0,SAN,SFO,447.0,0,0
1,1987,10,15,4,729.0,730,903.0,849,PS,1451,94.0,79.0,14.0,-1.0,SAN,SFO,447.0,0,0
2,1987,10,17,6,741.0,730,918.0,849,PS,1451,97.0,79.0,29.0,11.0,SAN,SFO,447.0,0,0
3,1987,10,18,7,729.0,730,847.0,849,PS,1451,78.0,79.0,-2.0,-1.0,SAN,SFO,447.0,0,0
4,1987,10,19,1,749.0,730,922.0,849,PS,1451,93.0,79.0,33.0,19.0,SAN,SFO,447.0,0,0

In [9]:
master_df['DepTime'] = pd.to_datetime(master_df['DepTime'], format='%H%M', errors='coerce')
master_df['DepTime'] = master_df['DepTime'].dt.time

master_df['CRSDepTime'] = pd.to_datetime(master_df['CRSDepTime'], format='%H%M', errors='coerce')
master_df['CRSDepTime'] = master_df['CRSDepTime'].dt.time

master_df['ArrTime'] = pd.to_datetime(master_df['ArrTime'], format='%H%M', errors='coerce')
master_df['ArrTime'] = master_df['ArrTime'].dt.time

master_df['CRSArrTime'] = pd.to_datetime(master_df['CRSArrTime'], format='%H%M', errors='coerce')
master_df['CRSArrTime'] = master_df['CRSArrTime'].dt.time

master_df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,CRSElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,Diverted
0,1987,10,14,3,07:41:00,07:30:00,09:12:00,08:49:00,PS,1451,91.0,79.0,23.0,11.0,SAN,SFO,447.0,0,0
1,1987,10,15,4,07:29:00,07:30:00,09:03:00,08:49:00,PS,1451,94.0,79.0,14.0,-1.0,SAN,SFO,447.0,0,0
2,1987,10,17,6,07:41:00,07:30:00,09:18:00,08:49:00,PS,1451,97.0,79.0,29.0,11.0,SAN,SFO,447.0,0,0
3,1987,10,18,7,07:29:00,07:30:00,08:47:00,08:49:00,PS,1451,78.0,79.0,-2.0,-1.0,SAN,SFO,447.0,0,0
4,1987,10,19,1,07:49:00,07:30:00,09:22:00,08:49:00,PS,1451,93.0,79.0,33.0,19.0,SAN,SFO,447.0,0,0

In [10]:
master_df['UniqueCarrier'] = master_df['UniqueCarrier'].astype('category')

In [11]:
master_df['FlightNum'] = master_df['FlightNum'].astype('int16')

In [12]:
master_df['ActualElapsedTime'] = master_df['ActualElapsedTime'].astype('int16')
master_df['CRSElapsedTime'] = master_df['CRSElapsedTime'].astype('int16')
master_df['ArrDelay'] = master_df['ArrDelay'].astype('int16')
master_df['DepDelay'] = master_df['DepDelay'].astype('int16')

In [13]:
master_df['Origin'] = master_df['Origin'].astype('category')
master_df['Dest'] = master_df['Dest'].astype('category')

In [14]:
master_df['Distance'] = master_df['Distance'].astype('float32')

In [15]:
master_df['Cancelled'] = master_df['Cancelled'].astype('int8')
master_df['Diverted'] = master_df['Diverted'].astype('int8')

In [25]:
print(master_df.dtypes)

Year                    int16
Month                    int8
DayofMonth               int8
DayOfWeek                int8
DepTime                object
CRSDepTime             object
ArrTime                object
CRSArrTime             object
UniqueCarrier        category
FlightNum               int16
ActualElapsedTime       int16
CRSElapsedTime          int16
ArrDelay                int16
DepDelay                int16
Origin               category
Dest                 category
Distance              float32
Cancelled                int8
Diverted                 int8
dtype: object

In [17]:
master_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42722968 entries, 0 to 42722967
Data columns (total 19 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int16
 1   Month              int8
 2   DayofMonth         int8
 3   DayOfWeek          int8
 4   DepTime            object
 5   CRSDepTime         object
 6   ArrTime            object
 7   CRSArrTime         object
 8   UniqueCarrier      category
 9   FlightNum          int16
 10  ActualElapsedTime  int16
 11  CRSElapsedTime     int16
 12  ArrDelay           int16
 13  DepDelay           int16
 14  Origin             category
 15  Dest               category
 16  Distance           float32
 17  Cancelled          int8
 18  Diverted           int8
dtypes: category(3), float32(1), int16(6), int8(5), object(4)
memory usage: 2.3+ GB

In [24]:
master_df['Dest'].value_counts()

Dest
ORD    2326296
DFW    2079398
ATL    1867574
LAX    1358417
DEN    1179351
        ...
MKC          1
BFI          1
PIH          1
ABI          1
RFD          1
Name: count, Length: 269, dtype: int64

In [22]:
master_df['UniqueCarrier'].value_counts()

UniqueCarrier
DL    7130326
US    6801536
AA    5960978
UA    5351362
NW    3979294
WN    3969460
CO    3560831
TW    2146136
HP    1628379
AS     904942
EA     530493
PI     403000
PA     243903
ML      70622
PS      41706
Name: count, dtype: int64

In [19]:
master_df['UniqueCarrier'].replace("PA (1)", "PA", inplace=True)

In [21]:
master_df['UniqueCarrier'].replace("ML (1)", "ML", inplace=True)

In [26]:
# export the final master dataframe into one file called combined_data.csv
master_df.to_csv("flights_final.csv", index=False)